html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.top-container {
    background-image: url(./img/hero_bg.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: "raleway", sans-serif;
}

.sakura-logo {
    width: 64px;
    height: 64px;
}

.div-top {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links a {
    margin: 16px;
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.nav-links a:hover {
    color: #FFB6C1;
    text-decoration: underline;
}

.button a{
    display: flex;
    align-items: center;
    background-color: #9F0908;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 8px;
    border: 2px solid white;
    gap: 10px;
    padding: 5px;
}

.button a:hover {
    background-color: #FFB6C1;
    color: #9F0908;
    border: 2px solid #9F0908;
}

.phone {
    width: 24px;
    height: 24px;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.sr {
    font-family: "Raleway", sans-serif;
    font-size: 96px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.best-ramen {
    font-family: "raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.howto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.howto-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    font-family: "raleway", sans-serif;
} 

.how {
    margin: 0;
}

.nbt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nbt-text {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 10px;
    padding: 50px;
}

.nbt-img {
    width: 128px; 
    height: 128px; 
    margin-bottom: 10px;     
}

.nbt-undertext {
    font-family: "economica", sans-serif;
    font-size: 24px;
    font-weight: regular;
    color: #675e54;
    padding-top: 16px;
}

.nbt-text span {
    padding-top: 16px;
    font-size: 56px; 
    font-weight: bold; 
    color: black; 
}

.third-container {
    background-image: url(./img/section_our_menu_bg.jpg);
    background-size: cover;
    padding: 120px;
}

.our-menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
    margin: 0;
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    font-family: "raleway", sans-serif;
}

.box-one {
    display: flex;
    align-items: center;
    padding-bottom: 56px;
    padding-left: 160px;
    padding-right: 160px;
}

.r-img {
    width: 352px; 
    height: 352px; 
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 80px;
}

td {
    font-family: "raleway", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #675e54;
}

.head {
    width: 352px;
    display: flex;
    justify-content: flex-start;
    font-family: "economica", sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: black;
    padding-bottom: 16px;
}

.tr-list {
    padding-bottom: 8px;
}

.box-two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 56px;
    padding-left: 160px;
    padding-right: 160px;
}

.table-two {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 80px;
}

.findus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 64px;
}

.findus-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    margin: 0;
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    font-family: "raleway", sans-serif;
}

.map-marker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-marker-img {
    width: 24px;
    height: 24px;
    padding-right: 5px;
}

.adress {
    font-family: "raleway", sans-serif;
    font-size: 24px;
    font-weight: regular;
    color: black;
    padding-left: 5px;
}

.footer-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 144px;
}

.footer-logo {
    width: auto;
    height: 44px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer-pic {
    width: 44px;
    height: 44px;
    margin: 0 16px;
}

iframe{
    border: 0;
    max-width: 100%;
    width: 100%;
    margin-bottom: -5px;
    height: 350px;
}