html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.top-container {
    background-image: url(./img/hero_bg.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: "raleway", sans-serif;
}

.sakura-logo {
    width: 64px;
    height: 64px;
}

.div-top {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links a {
    margin: 16px;
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.nav-links a:hover {
    color: #FFB6C1;
    text-decoration: underline;
}

.button a{
    display: flex;
    align-items: center;
    background-color: #9F0908;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 8px;
    border: 2px solid white;
    gap: 10px;
    padding: 5px;
}

.button a:hover {
    background-color: #FFB6C1;
    color: #9F0908;
    border: 2px solid #9F0908;
}

.phone {
    width: 24px;
    height: 24px;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.sr {
    font-family: "Raleway", sans-serif;
    font-size: 96px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.best-ramen {
    font-family: "raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.howto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.howto-text {
    display: flex;
    justify-content: center;
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    font-family: "raleway", sans-serif;
} 

.how {
    margin: 0;
    text-align: center;
}

.nbt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nbt-text {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 10px;
    padding: 50px;
}

.nbt-img {
    width: 128px; 
    height: 128px; 
    margin-bottom: 10px;     
}

.nbt-undertext {
    font-family: "economica", sans-serif;
    font-size: 24px;
    color: #675e54;
    padding-top: 16px;
}

.nbt-text span {
    padding-top: 16px;
    font-size: 56px; 
    font-weight: bold; 
    color: black; 
}

.third-container {
    background-image: url(./img/section_our_menu_bg.jpg);
    background-size: cover;
    padding: 120px;
}

.our-menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
    margin: 0;
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    font-family: "raleway", sans-serif;
}

.box-one {
    display: flex;
    align-items: center;
    padding-bottom: 56px;
    padding-left: 160px;
    padding-right: 160px;
}

.r-img {
    width: 352px; 
    height: 352px; 
}

.table {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 80px;
}

td {
    font-family: "raleway", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #675e54;
}

.head {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: "economica", sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: black;
    padding-bottom: 16px;
}

.tr-list {
    padding-bottom: 8px;
}

.box-two {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 56px;
    padding-left: 160px;
    padding-right: 160px;
}

.table-two {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 80px;
}

.findus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 64px;
}

.findus-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    margin: 0;
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    font-family: "raleway", sans-serif;
}

.map-marker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-marker-img {
    width: 24px;
    height: 24px;
    padding-right: 5px;
}

.adress {
    font-family: "raleway", sans-serif;
    font-size: 24px;
    color: black;
    padding-left: 5px;
}

.footer-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 144px;
}

.sakuraa-logo {
    display: none;
}
.footer-logo {
    width: auto;
    height: 44px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer-pic {
    width: 44px;
    height: 44px;
    margin: 0 16px;
}

iframe{
    border: 0;
    max-width: 100%;
    width: 100%;
    margin-bottom: -5px;
    height: 350px;
}
@media (max-width: 1450px) {
    .top-container {
        height: 100vh;
    }

    .nav {
        height: 112px;
        justify-content: space-between;
    }

    .nav-links> a {
        display: none;
    } 

    .phone {
        width: 20px;
        height: 20px;
    }

    .button a {
        font-size: 20px;
        padding: 5px 10px;
    }

    .sr {
        font-size: 72px;
        margin: 0%;
        margin-top: 50px;
    }

    .best-ramen {
            font-size: 24px;
    }
    
    .howto-container {
        margin-top: 96px;
        margin-bottom: 96px;
        padding: 0;
    }

    .how {
        font-size: 64px;
        text-align: center;
    }
    
    .nbt-text span {
        font-size: 32px;
    }

    .head {
        font-size: 32px;
        width: 200px;
    }

    td {
        font-size: 24px;
        padding-bottom: 8px;
    };
}
@media (max-width: 1010px) {
    .top-container {
        height: 100vh;
    }

    .nav {
        height: 112px;
        justify-content: space-between;
    }

    .nav-links> a {
        display: none;
    } 

    .phone {
        width: 20px;
        height: 20px;
    }

    .button a {
        font-size: 20px;
        padding: 5px 10px;
    }

    .sr {
        font-size: 72px;
        margin: 0%;
        margin-top: 50px;
    }

    .best-ramen {
            font-size: 24px;
    }
    
    .howto-container {
        margin-top: 96px;
        margin-bottom: 96px;
        padding: 0;
    }

    .how {
        font-size: 64px;
        text-align: center;
    }
    
    .box-one {
        justify-content: center;
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
    }

    .box-two {
        justify-content: center;
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
    }

    .table {
        padding-left: 0;
        padding-right: 0%;
    }

    .table-two {
        padding-left: 0;
        padding-right: 0%;
    }
}

@media (max-width: 768px) {

    .top-container {
        height: 100vh;
        padding-inline: 24px;
        padding: 0;
    }

    .nav {
        height: 112px;
        justify-content: space-between;
    }

    .nav-links> a {
        display: none;
    }

    .phone {
        width: 20px;
        height: 20px;
    }

    .button a {
        font-size: 20px;
        padding: 5px 10px;
    }

    .sr {
        font-size: 72px;
        margin: 0%;
        margin-top: 50px;
    }

    .best-ramen {
        font-size: 24px;
    }
    
    .howto-container {
        margin-top: 96px;
        margin-bottom: 96px;
        padding: 0;
    }

    .how {
        font-size: 64px;
        text-align: center;
    }

    .nbt-text {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 48px;
    }

    .nbt-img {
        width: 112px; 
        height: 112px; 
    }

    .nbt-text span {
        font-size: 32px;
        padding-top: 8px;
    }

    .our-menu-text {
        font-size: 54px;
        text-align: center;
        padding-bottom: 48px;
    }

    .third-container {
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 0;
        padding-right: 0;
    }
    .box-one {
        justify-content: center;
        padding-left: 0%;
        padding-right: 0%;
    }

    .r-img {
        width: 352px;
        height: 352px;
    }

    table {
        padding-left: 24px;
    }

    .head {
        font-size: 32px;
        width: 200px;
    }

    td {
        font-size: 24px;
        padding-bottom: 8px;
    }

    .box-two {
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 56px;
        padding-left: 0%;
        padding-right: 0;
    }

    .box-three {
        justify-content: center;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 0;
    }

    .table-two {
        padding-right: 24px;
        padding-left: 0;
    }

    .findus-container {
        padding-top: 96px;
        padding-bottom: 48px;
    }

    .findus-text {
        font-size: 64px;
    }

    .map-marker-img{
        height: 20px;
        width: 20px;
        padding: 0;
    }
    .adress {
        font-size: 20px;
    }

    #location {
        height: 50vh;
    }

    .footer-container {
        height: 144px;
        display: flex;
        justify-content: space-between;
        padding-inline: 24px;
    }
    .footer-logo {
        height: 44px;
    }

    .sakuraa-logo{
        display: none;
    }
    .footer-pic {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 680px) {
    .top-container {
        height: 100vh;
    }

    .nav {
        height: 112px;
        justify-content: space-between;
    }

    .nav-links> a {
        display: none;
    } 

    .phone {
        width: 20px;
        height: 20px;
    }

    .button a {
        font-size: 20px;
        padding: 5px 10px;
    }

    .sr {
        font-size: 54px;
        margin: 0%;
        margin-top: 50px;
    }

    .best-ramen {
            font-size: 24px;
    }
    
    .howto-container {
        margin-top: 96px;
        margin-bottom: 96px;
        padding: 0;
    }

    .how {
        font-size: 64px;
        text-align: center;
    }
    
    .nbt-box {
        flex-direction: column;
        padding: 0;
        width: 112px;
    }
    
    .box-one {
        justify-content: center;
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    .box-two {
        justify-content: center;
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media (max-width: 565px) {
    .top-container {
        height: 100vh;
    }

    .nav {
        height: 64px;
        justify-content: space-between;
    }

    .sakura-logo {
        width: 40px;
        height: 40px;
    }

    .nav-links> a {
        display: none;
    } 

    .phone {
        width: 16px;
        height: 16px;
    }

    .button a {
        font-size: 16px;
        padding: 5px 10px;
    }

    .sr {
        font-size: 32px;
        margin: 0%;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .best-ramen {
            font-size: 16px;
    }
    
    .howto-container {
        padding-top: 0;
        padding-bottom: 0;
        padding-inline: 16px;
        margin-top: 72px;
        margin-bottom: 40px;
    }

    .how {
        font-size: 32px;
        text-align: center;
    }
    
    .nbt-box {
        flex-direction: column;
        padding: 0;
        width: 112px;
    }

    .nbt-text {
        padding-top: 32px;
        margin: 0;
    }

    .nbt-img {
        width: 100px; 
        height: 100px; 
    }
    .nbt-text span {
        font-size: 32px;
    }

    .third-container {
        padding-top: 0;
        padding-inline: 16px;
        padding-bottom: 72px;
    }

    .our-menu-text {
        font-size: 40px;
        text-align: center;
        padding-top: 72px;
    }

    .box-one {
        padding: 0;
        margin: 0;
        flex-direction: column;
    }

    .r-img {
        width: 270px;
        height: 270px;
        padding-bottom: 24px;
        padding-top: 32px;
    }

    table {
        padding-inline: 0px;
        width: 100%;
    }

    .head {
        font-size: 32px;
        padding-bottom: 16px;
    }

    td {
        font-size: 24px;
        padding-bottom: 8px;
    }

    .price {
        display: flex;
        justify-content: flex-end;
    }
    .box-two {
        flex-direction: row;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
    }

    .table-two {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0%  ;
    }

    .findus-container {
        padding-inline: 16px;
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .findus-text {
        font-size: 40px;
    }

    .map-marker-img{
        height: 16px;
        width: 16px;
        padding: 0;
    }
    .adress {
        font-size: 12px;
    }

    .footer-container {
        height: 86px;
        display: flex;
        justify-content: space-between;
        padding-inline: 16px;
    }

    .footer-logo {
        display: none;
    }

    .sakuraa-logo {
        display: flex;
        height: 40px;
    }
    .footer-pic {
        margin: 0;
        padding: 5px;
        width: 32px;
        height: 32px;
        display: flex;
    }
}
@media (max-width: 320px) {
    .top-container {
        height: 100vh;
    }

    .nav {
        height: 56px;
        justify-content: space-between;
    }

    .sakura-logo {
        width: 32px;
        height: 32px;
    }

    .nav-links> a {
        display: none;
    } 

    .phone {
        width: 16px;
        height: 16px;
    }

    .button a {
        font-size: 16px;
        padding: 5px 10px;
    }

    .sr {
        font-size: 32px;
        margin: 0%;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    
    .best-ramen {
        font-size: 16px;
    }

    .r-img {
        width: 240px;
        height: 240px;
        padding-bottom: 24px;
        padding-top: 32px;
    }

    td {
        font-size: 16px;
        padding-bottom: 8px;
    }
}